* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../../images/background8.jpg");
    background-size: 100vw 100%;
}
.logo-image-section {
    width: 33vw;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.logo-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    
}
.logo {
    width: 130px;
    height: 115px;
    padding-left: 2px;
}
.name-section {
    width: 34vw;
}
.name {
    justify-content: center;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: cursive;
    font-size: 30px;
  
}
.whatsapp-section-top {
    width: 33vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 2px 50px 2px;
}
.whatsapp-section-top img {
    width: 32px;
    height: 32px;
}
.whatsapp {
    color: #ffffff8a;
    font-family: cursive;
    font-size: 22px;
    font-weight: 100;
    padding-left: 10px;
    margin: 0;
}
.navigation-bar {
    background-color: #ffffff47;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-family: cursive;
    font-size: 18px;
    margin: 0;
    padding-left: 0;
    box-shadow: rgba(0, 0, 0, 0.533) 0px 1px 4px;
    position: relative;
    z-index: 1;
}
.navigation-bar li a {
    text-decoration: none;
    color: black;
}
.home, .about, .tai-chi, .acupuncture-treatment, .face-rejuvenation, .blog {
    padding: 20px;
}
.home:hover, .about:hover, .tai-chi:hover, .acupuncture-treatment:hover, .face-rejuvenation:hover, .blog:hover {
    cursor: pointer;
    background-color: #ffffff70;
}
main {
    font-family: cursive;
}
main h1 {
    color: #6c6c8c;
    text-align: center;
}
.acupuncture-first-section {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
}
.acupuncture-first-section p {
    color: #6c6c8c;
    flex: 1;
    font-size: 20px;
    border-bottom: 2px solid hsla(240, 13%, 49%, 0.4);
    margin-top: 0;
    margin-bottom: 0;
}
.acupuncture-first-section-first-paragraph {
    margin-right: 10px;
}
.acupuncture-first-section-second-paragraph {
    margin-left: 10px;
}
.acupuncture-second-section {
    display: flex;
    margin: 50px 20px 0 20px;
}
.acupuncture-second-section p {
    margin: -6px 0 0 20px;
    font-size: 20px;
    color: #6c6c8c;
}
.acupucture-image {
    width: 300px;
}
.acupuncture-third-section {
    background-color: rgba(186, 163, 168, 0.425);
    padding: 40px 20px 40px 20px;
    text-align: center;
    font-size: 17px;
    margin-top: 40px;
}
.acupuncture-third-section a {
    color: rgb(223, 166, 176);
}
.acupuncture-forth-section {
    text-align: center;
    padding: 40px 20px 40px 20px;
    font-size: 17px;
    color: gray;
}
.acupuncture-last-section {
   background-color: rgba(217, 217, 217, 0.6); 
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 17px;
   padding-left: 20px;
   padding-right: 20px;
}
.acupuncture-last-section p {
    margin-bottom: 0;
}
.acupuncture-last-section p a {
    color: black;
}
.acupuncture-last-section-link {
    padding-bottom: 20px;
}
footer {
    background-color: rgb(165, 165, 165);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.whatsapp-section {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(196, 195, 195);;
}
.whatsapp-section h4 {
    font-family: cursive;
    font-size: 20px;
    margin: 15px;
}
.designer {
    display: flex;
}
footer p {
    font-size: 16px;
    font-family: cursive;
    text-align: center;
    margin: 0;
    padding: 10px 0 10px 0;
}