* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../../images/images-last/background-other-pages-big.jpg");
    background-size: 100vw 100%;
}
.logo-image-section {
    width: 33vw;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.logo-section {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.logo {
    width: 130px;
    height: 115px;
    padding-left: 2px;
}
.name-section {
    width: 34vw;
}
.name {
    justify-content: center;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
  
}
.whatsapp-section-top {
    width: 33vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 2px 50px 2px;
}
.whatsapp-section-top picture source, .whatsapp-section-top picture img {
    width: 32px;
    height: 32px;
}
.whatsapp a {
    text-decoration: none;
    color: #ffffff8a;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    padding-left: 10px;
    margin: 0;
}
.navigation-bar {
    background-color: #ffffff47;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin: 0;
    padding-left: 0;
    box-shadow: rgba(0, 0, 0, 0.533) 0px 1px 4px;
    position: relative;
    z-index: 1;
}
.navigation-bar a {
    text-decoration: none;
    color: black;
}
.home, .about, .tai-chi, .acupuncture-treatment, .face-rejuvenation, .blog {
    padding: 20px;
}
.home:hover, .about:hover, .tai-chi:hover, .acupuncture-treatment:hover, .face-rejuvenation:hover, .blog:hover {
    cursor: pointer;
    background-color: #ffffff70;
}
.mobile-navigation {
    display: none;
    cursor: pointer;
}
.mobile-navigation-close {
    display: none;
    cursor: pointer;
}
.x-image {
    padding: 5px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.mobile-navigation-bar {
    display: none;
    background-color: #ffffff2f;
    margin: 0;
    padding: 0;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    position: relative;
    z-index: 1;
}
.mobile-navigation-bar a {
    text-decoration: none;
}
.home-mobile, .about-mobile, .tai-chi-mobile, .acupuncture-treatment-mobile, .face-rejuvenation-mobile, .blog-mobile {
    list-style: none;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    padding: 15px 5vw 15px 5vw;
}
.home-mobile:hover, .about-mobile:hover, .tai-chi-mobile:hover, .acupuncture-treatment-mobile:hover, .face-rejuvenation-mobile:hover, .blog-mobile:hover {
    background-color: #ffffff39;
}
.home-mobile:active, .about-mobile:active, .tai-chi-mobile:active, .acupuncture-treatment-mobile:active, .face-rejuvenation-mobile:active, .blog-mobile:active {
    background-color: #ffffff39;
}  
.home-mobile, .about-mobile, .tai-chi-mobile, .acupuncture-treatment-mobile, .face-rejuvenation-mobile {
    border-bottom: 1px solid rgba(255, 255, 255, 0.088);
}
.blogs {
    background-color: rgba(217, 217, 217, 0.6);
    display: flex;
    justify-content: center;
    padding: 50px 20px 50px 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.blog1 {
    border: 10px solid white;
    background-color: white;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    text-align: center;
    padding-bottom: 10px;
}
.blog1-image {
    width: 400px;
}
.blog1 p {
    color: rgb(165, 165, 165);
    margin-top: 0;
    font-size: 20px;
}
.blog1 a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: orange;
    border: 5px solid orange;
    padding: 5px;
    transition-property: transform;
}
.blog1 a:hover {
    transform: scale(2);
}
footer {
    background-color: rgb(165, 165, 165);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.whatsapp-section {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(196, 195, 195);;
}
.whatsapp-section h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin: 15px;
}
.whatsapp-section h4 a {
    text-decoration: none;
    color: black;
}
.designer {
    display: flex;
}
footer p {
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 0;
    padding: 10px 0 10px 0;
}

@media (max-width: 720px) {
    .header {
        box-shadow: rgba(0, 0, 0, 0.533) 0px 1px 4px;
        position: relative;
        z-index: 1;
    }
    .logo-section {
        width: 90vw;
        margin-left: 5vw;
        justify-content: space-between;
    }
    .logo-image-section {
        width: 130px;
        justify-content: flex-start;
        padding: 0;
    }
    .whatsapp-section-top {
        display: none;
    }
    .mobile-navigation {
        display: inline;
        display: flex;
        justify-content: flex-end;
    }
    .navigation-image {
        width: 50px;
        margin-right: 5vw;
    }
    .navigation-bar {
        display: none;
    }
    .x-image {
        width: 40px;
        height: 40px;
        margin-right: 5vw;
    }
}
@media (max-width: 640px) {
    .logo-image-section {
        width: 100px;
    }
    .logo {
        width: 100px;
        height: 85px;
    }
    .name {
        font-size: 24px;
    }
    .navigation-image {
        width: 40px;
    }
    .x-image {
        width: 30px;
        height: 30px;
    }
}
@media (max-width: 480px) {
    header {
        background-image: url("../../images/images-last/background-other-pages-big.jpg");
    }
    .name {
        font-size: 20px;
    }
    .blog1-image {
        width: 80vw;
    }
}
@media (max-width: 440px) {
    .logo-image-section {
        width: 78px;
    }
    .logo {
        width: 78px;
        height: 65px;
    }
    .name {
        font-size: 18px;
    }
    .navigation-image {
        width: 30px;
    }
    .x-image {
        width: 25px;
        height: 25px;
    }
    .designer {
        flex-direction: column;
    }
}
@media (max-width: 350px) {
    .whatsapp-section h4 {
        font-size: 18px;
    }
}