* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("images/images-last/background-homepage-big.jpg");
    background-size: 100vw 100%;
}
.logo-image-section {
    width: 33vw;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.logo-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 130px;
    height: 115px;
    padding-left: 2px;
}
.name-section {
    width: 34vw;
}
.name {
    justify-content: center;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}
.whatsapp-section-top {
    width: 33vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 2px 50px 2px;
}
.whatsapp-section-top picture source, .whatsapp-section-top picture img {
    width: 32px;
    height: 32px;
}
.whatsapp a {
    text-decoration: none;
    color: #ffffff8a;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    padding-left: 10px;
    margin: 0;
}
.mobile-navigation {
    display: none;
    cursor: pointer;
}
.mobile-navigation-close {
    display: none;
    cursor: pointer;
}
.x-image {
    padding: 5px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.navigation-bar {
    background-color: #ffffff47;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin: 0;
    padding-left: 0;
    box-shadow: rgba(0, 0, 0, 0.533) 0px 1px 4px;
    position: relative;
    z-index: 1;
}
.mobile-navigation-bar {
    display: none;
    background-color: #ffffff2f;
    margin: 0;
    padding: 0;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    position: relative;
    z-index: 1;
}
.mobile-navigation-bar a {
    text-decoration: none;
}
.home-mobile, .about-mobile, .tai-chi-mobile, .acupuncture-treatment-mobile, .face-rejuvenation-mobile, .blog-mobile {
    list-style: none;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    padding: 15px 5vw 15px 5vw;
}
.home-mobile:hover, .about-mobile:hover, .tai-chi-mobile:hover, .acupuncture-treatment-mobile:hover, .face-rejuvenation-mobile:hover, .blog-mobile:hover {
    background-color: #ffffff39;
}
.home-mobile:active, .about-mobile:active, .tai-chi-mobile:active, .acupuncture-treatment-mobile:active, .face-rejuvenation-mobile:active, .blog-mobile:active {
    background-color: #ffffff39;
}  
.home-mobile, .about-mobile, .tai-chi-mobile, .acupuncture-treatment-mobile, .face-rejuvenation-mobile {
    border-bottom: 1px solid rgba(255, 255, 255, 0.088);
}
.navigation-bar a{
    text-decoration: none;
    color: black;
}
.home, .about, .tai-chi, .acupuncture-treatment, .face-rejuvenation, .blog {
    padding: 20px;
}
.home:hover, .about:hover, .tai-chi:hover, .acupuncture-treatment:hover, .face-rejuvenation:hover, .blog:hover {
    cursor: pointer;
    background-color: #ffffff70;
}
.slider-box {
    display: flex;
    justify-content: center;
}
.slider {
    width: 60vw;
    overflow: hidden;
}
.slides {
    display: flex;
}
.slides input {
    display: none;
}
.slide { 
    transition: 2s;
}
.slide img {
    width: 60vw;
    height: 100%;
}
.navigation-manual {
    position: absolute;
    margin-top: 20px;
    width: 60vw;
    display: flex;
    justify-content: center;
}
.manual-btn {
    border: 2px solid #ffebc5;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child) {
    margin-right: 40px;
}
.manual-btn:hover {
    background: #ffebc5;
}
#radio1:checked ~ .first{
    margin-left: 0%;
}
#radio2:checked ~ .first{
    margin-left: -100%;
}
#radio3:checked ~ .first{
    margin-left: -200%;
}
#radio4:checked ~ .first{
    margin-left: -300%;
}
.navigation-auto {
    position: absolute;
    display: flex;
    width: 60vw;
    justify-content: center;
    margin-top: 20px;
}
.navigation-auto div {
    border: 2px solid #ffebc5;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;

}
.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #ffebc5;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #ffebc5;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #ffebc5;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #ffebc5;
}
.face-rejuvenation-section {
    display: flex;
    flex-direction: column;
}
.face-rejuvenation-section h1 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: orange;
    font-size: 36px;
    margin: 30px 0 30px 0;
}
.face-rejuvenation-first-part {
    display: flex;
}
.face-rejuvenation-information {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-top: 10px solid rgba(217, 217, 217, 0.796);
    border-bottom: 10px solid rgba(217, 217, 217, 0.796);
    padding: 20px;
    flex: 1;
    font-size: 20px;
}
.face-rejuvenation-what-to-expect {
    border-top: 10px solid rgba(255, 166, 0, 0.263);
    border-bottom: 10px solid rgba(255, 166, 0, 0.263);
    display: flex;
    flex: 1;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    font-size: 20px;
}
.face-rejuvenation-what-to-expect h2{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #b88838;
    font-size: 24px;
    margin-top: 0;
}
.face-rejuvenation-what-to-expect p{
    margin-top: 0;
}
.face-rejuvenation-benefits-elements {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.face-rejuvenation-benefits {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 98vw;
    align-self: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: dotted 10px orange;
    border-radius: 400px;
}
.face-rejuvenation-benefits-inside-dots {
    border: dotted 5px rgba(255, 166, 0, 0.263);
    border-radius: 360px;
}
.face-rejuvenation-benefits ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 0;
}
.face-rejuvenation-benefits ul li {
    display: flex;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
}
.face-rejuvenation-benefits ul li p {
    margin: 0;
}
.face-rejuvenation-benefits ul li:last-child {
    padding-right: 0;
}
.face-rejuvenation-benefits ul li:not(first-child) {
    margin-top: -10px;
}
.face-rejuvenation-benefits h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: orange;
    font-size: 30px;
    text-align: flex-start;
}
.benefit-items {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}
.tick {
    font-size: 36px;
    padding-right: 5px;
    transition: transform 0.5s ease-in-out;
}
.benefit-items:hover .tick {
    transform: scale(1.2);
    color: orange;
}
.benefit-items:hover {
    transform: scale(1.2);
}
.arrow-section {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.arrows {
    display: flex;
    justify-content: space-around;
    width: 98vw;
    align-self: center;
}
.arrow {
    width: 150px;
}
.youtube-section {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    background-color: rgba(217, 217, 217, 0.6);
}
.youtube {
    position: relative;
    width: 60vw;
    padding-bottom: 34%;
}
.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.whatsapp-number-link {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(217, 217, 217, 0.6);
    border-top: 2px solid white;
    padding: 20px;
    font-size: 20px;
}
.whatsapp-number-link p {
    margin: 0;
}
.whatsapp-number-link a {
    color: orange;
}
.pain {
    margin-top: 120px;
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pain-header {
    padding: 1px;
    display: flex;
    margin-top: -13px;
    margin-left: 5px;
}
.pain div h1 {
    font-size: 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding-bottom: 30px;
    color: orange;
}
.pain-first-part {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    font-size: 20px;
    flex: 1;
    padding-left: 20px;
}
.pain-second-part {
    background-image: url("images/images-last/pain-management.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    align-self: stretch;
    flex: 1;
    font-size: 20px;
    padding-left: 60px;
    padding-right: 20px;
}
.pain-first-part p {
    padding: 5px;
    margin-top: -7px;
    padding-top: 0;
}
.pain-second-part p {
    margin-top: 0;
}
.pain-second-part ul{
    list-style-type: circle;
    padding-left: 20px;
}
.pain img {
    width: 50%;
}
footer {
    background-color: rgb(165, 165, 165);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.whatsapp-section {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(196, 195, 195);
}
.whatsapp-section h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin: 15px;
}
.whatsapp-section h4 a {
    text-decoration: none;
    color: black;
}
.designer {
    display: flex;
}
footer p {
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 0;
    padding: 10px 0 10px 0;
}

@media (max-width: 720px) {
    .header {
        box-shadow: rgba(0, 0, 0, 0.533) 0px 1px 4px;
        position: relative;
        z-index: 1;
    }
    .logo-section {
        width: 90vw;
        margin-left: 5vw;
        justify-content: space-between;
    }
    .logo-image-section {
        width: 130px;
        justify-content: flex-start;
        padding: 0;
    }
    .name {
        font-size: 30px;
        font-weight: 500;
    }
    .face-rejuvenation-section h1 {
        font-weight: 500;
        font-size: 30px;
    }
    .face-rejuvenation-information {
        font-size: 17px;
    }
    .face-rejuvenation-information p {
        text-align: center;
        color: rgb(100, 100, 100);
        line-height: 25px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .face-rejuvenation-what-to-expect h2 {
        font-weight: 500;
    }
    .face-rejuvenation-what-to-expect p {
        text-align: center;
        color: rgb(100, 100, 100);
        line-height: 25px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 17px;
    }
    .face-rejuvenation-benefits-elements h2 {
        font-weight: 500;
    }
    .benefit-items {
        color: rgb(100, 100, 100);
        line-height: 25px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 25px;
        font-size: 17px;
    }
    .last-benefit-item {
        padding-bottom: 0;
    }
    .whatsapp-number-link p {
        font-size: 17px;
        color: rgb(100, 100, 100);
        line-height: 25px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .whatsapp-section-top {
        display: none;
    }
    .mobile-navigation {
        display: inline;
        display: flex;
        justify-content: flex-end;
    }
    .navigation-image {
        width: 50px;
        margin-right: 5vw;
    }
    .navigation-bar {
        display: none;
    }
    .x-image {
        width: 40px;
        height: 40px;
        margin-right: 5vw;
    }
    .slider {
        width: 100vw;
    }
    .slide img {
        width: 100vw;
    }
    .navigation-manual {
        width: 100vw;  
    }
    .navigation-auto {
        width: 100vw;
    }
    #radio1:checked ~ .first{
        margin-left: 0%;
    }
    #radio2:checked ~ .first{
        margin-left: -100vw;
    }
    #radio3:checked ~ .first{
        margin-left: -200vw;
    }
    #radio4:checked ~ .first{
        margin-left: -300vw;
    }
    .face-rejuvenation-first-part {
        flex-direction: column;
    }
    .face-rejuvenation-benefits {
        border-radius: 0;
    }
    .face-rejuvenation-benefits-inside-dots {
        border-radius: 0;
    }
    .youtube {
        width: 90vw;
        padding-bottom: 50%;
    }
    .pain {
        flex-direction: column;
    }
    .pain-header h1 {
        font-weight: 500;
        font-size: 30px;
    }
    .pain-first-part {
        padding-right: 20px;
    }
    .pain-first-part p, .pain-second-part p, .pain-second-part ul li {
        font-size: 17px;
        line-height: 25px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .pain-second-part {
        padding-left: 20px;
        margin-right: 20px;
    }
    .pain div h1 {
        width: 98vw;
        text-align: center;
    }
}
@media (max-width: 640px) {
    .logo-image-section {
        width: 100px;
    }
    .logo {
        width: 100px;
        height: 85px;
    }
    .name {
        font-size: 24px;
    }
    .navigation-image {
        width: 40px;
    }
    .x-image {
        width: 30px;
        height: 30px;
    }
    .arrows {
        justify-content: center;
    }
    .arrow {
        width: 150px;
    }
    .last-arrow {
        display: none;
    }
}
@media (max-width: 480px) {
    header {
        background-image: url("images/images-last/background-homepage-small.jpg");
    }
    .name {
        font-size: 20px;
    }
    .face-rejuvenation-benefits h2 {
        text-align: center;
    }
    .youtube-section {
        margin-top: 60px;
    }
    .pain {
        margin-top: 60px;
    }
}
@media (max-width: 440px) {
    .logo-image-section {
        width: 78px;
    }
    .logo {
        width: 78px;
        height: 65px;
    }
    .name {
        font-size: 18px;
    }
    .navigation-image {
        width: 30px;
    }
    .x-image {
        width: 25px;
        height: 25px;
    }
    .arrow {
        width: 120px;
    }
    .designer {
        flex-direction: column;
    }
}
@media (max-width: 350px) {
    .whatsapp-section h4 {
        font-size: 18px;
    }
}