* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("images/background7.jpg");
    background-size: 100vw 100%;
}
.logo-image-section {
    width: 33vw;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.logo-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    
}
.logo {
    width: 130px;
    height: 115px;
    padding-left: 2px;
}
.name-section {
    width: 34vw;
}
.name {
    justify-content: center;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 30px;
    left: 40vw;
}
.whatsapp-section-top {
    width: 33vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 2px 50px 2px;
}
.whatsapp-section-top img {
    width: 32px;
    height: 32px;
}
.whatsapp {
    color: #ffffff8a;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding-left: 10px;
    margin: 0;
}
.navigation-bar {
    background-color: #ffffff47;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 14px;
    margin-top: 0px;
    padding-left: 0;
    box-shadow: rgba(0, 0, 0, 0.533) 0px 1px 4px;
}
.navigation-bar li a {
    text-decoration: none;
    color: black;
}
.home, .about, .tai-chi, .acupuncture-treatment, .face-rejuvenation, .blog, .contact {
    padding: 20px;
}
.home:hover, .about:hover, .tai-chi:hover, .acupuncture-treatment:hover, .face-rejuvenation:hover, .blog:hover, .contact:hover {
    cursor: pointer;
    background-color: #ffffff70;
}
.slider-box {
    width: 100vw;
    margin-top: -13px;
}
.slider {
    width: 60vw;
    overflow: hidden;
    margin-left: 20%;
}
.slides {
    display: flex;
}
.slides input {
    display: none;
}
.slide { 
    transition: 2s;
}
.slide img {
    width: 60vw;
}
.navigation-manual {
    position: absolute;
    margin-top: 20px;
    width: 60vw;
    display: flex;
    justify-content: center;
}
.manual-btn {
    border: 2px solid #ffebc5;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child) {
    margin-right: 40px;
}
.manual-btn:hover {
    background: #ffebc5;
}
#radio1:checked ~ .first{
    margin-left: 0%;
}
#radio2:checked ~ .first{
    margin-left: -100%;
}
#radio3:checked ~ .first{
    margin-left: -200%;
}
#radio4:checked ~ .first{
    margin-left: -300%;
}
.navigation-auto {
    position: absolute;
    display: flex;
    width: 60vw;
    justify-content: center;
    margin-top: 20px;
}
.navigation-auto div {
    border: 2px solid #ffebc5;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;

}
.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #ffebc5;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #ffebc5;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #ffebc5;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #ffebc5;
}
.face-rejuvenation-section {
    display: flex;
    flex-direction: column;
}
.face-rejuvenation-section h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: orange;
    font-size: 36px;
    margin-top: 20px;
}
.face-rejuvenation-first-part {
    display: flex;
}
.face-rejuvenation-information {
    font-family: Arial, Helvetica, sans-serif;
    border-top: 1px solid rgba(217, 217, 217, 0.796);
    border-bottom: 1px solid rgba(217, 217, 217, 0.796);
    padding: 20px;
}
.face-rejuvenation-information:hover {
    background-color: rgba(217, 217, 217, 0.6);
}
.face-rejuvenation-what-to-expect {
    background-color: rgba(255, 166, 0, 0.263);
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
.face-rejuvenation-what-to-expect:hover {
    background-color: rgba(217, 217, 217, 0.6);
}
.face-rejuvenation-what-to-expect h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #b88838;
    font-size: 24px;
    margin-top: 0;
}
.face-rejuvenation-what-to-expect p{
    margin-top: 0;
}
.face-rejuvenation-benefits {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
}
.face-rejuvenation-benefits ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0;
}
.face-rejuvenation-benefits ul li {
    padding-right: 50px;
}
.face-rejuvenation-benefits ul li:last-child {
    padding-right: 0;
}
.face-rejuvenation-benefits h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #b88838;
    font-size: 24px;
}
.benefit-items {
    display: flex;
    align-items: center;
}
.tick {
    font-size: 36px;
    margin: 0;
    color: #869bc3;
    padding-right: 5px;
}
.youtube {
    display: flex;
    justify-content: center;
}
.whatsapp-number-link {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.pain {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.pain-header {
    background-color: #869bc3;
    padding: 1px;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.pain div h1 {
    color: #869bc3;
    background-color: white;
    font-weight: 100;
    font-size: 36px;
    width: 36rem;
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.pain-first-part {
    display: flex;
    background-color: rgb(232, 233, 238);
    color: #869bc3;
    font-size: 20px;
}
.pain-first-part p {
    padding: 5px;
}
.pain-first-part img {
    width: 30vw;
}
.whatsapp-number-link {
    color: #b88838;
    padding: 20px;
    font-size: 16px;
}
.whatsapp-number-link a {
    color: orange;
}
.whatsapp-section {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #869bc3;
    margin-top: 220px;
}
.whatsapp-section h4 {
    font-family: Arial, Helvetica, sans-serif;
}