body {
    margin: 0;
}
header {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: rgb(24, 136, 167);
}
.logo-section {
    display: flex;
    justify-content: space-between;
    width: 60vw;
}
.logo {
    padding-top: 1rem;
    width: 6rem;
    height: 6rem;
}
.whatsapp {
    align-self: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.navigation-bar {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 14px;
}
.navigation-bar li a {
    text-decoration: none;
    color: black;
}
.about, .tai-chi, .acupuncture-treatment, .face-rejuvenation, .blog, .contact {
    border: 2px solid rgb(24, 136, 167);
}
.home:hover, .about:hover, .tai-chi:hover, .acupuncture-treatment:hover, .face-rejuvenation:hover, .blog:hover, .contact:hover {
    border-bottom: black 2px solid;
    cursor: pointer;
}